.clipboard {
    .scrollable {
        margin: 12px 0;
    }
    .box {
        margin: 0 16px;
    }

    .item {
        padding: 10px;
        background: rgb(196, 18, 18);
        border-radius: 10px;
    }
    .item-selected {
        background: rgb(255, 165, 0);
    }
}
