@use "public-colors";
@use "animations";
$radius: "100px";
$base_bg_color: rgba(104, 104, 104, 0.345);
$selected_bg_color: rgba(135, 135, 135, 0.345);
$bar_bg_color: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.8),
        rgba(8, 19, 22, 0.722),
        rgba(3, 13, 20, 0.8),
        rgba(10, 6, 18, 0.821),
        rgba(12, 18, 12, 0.703)
    )
    center / cover;
$tray_item_hover_color: rgba(255, 255, 255, 0.269);
label {
    color: #{public-colors.$theme_fg_color};
}
window.Bar {
    background: transparent;
    color: transparent;

    > centerbox {
        padding: 6px 8px;
        background: $bar_bg_color;
        border-radius: #{$radius};
        margin: 8px 8px 0 8px;
        @include animations.background-flow($size: 200%, $duration: 120s);
    }
}
box.Tray {
    background: $base_bg_color;
    .TrayItem {
        background: transparent;
    }
    .TrayItem-hover {
        background: $tray_item_hover_color;
    }
}
box.NetSpeed {
    border-radius: #{$radius};
    > label {
        color: rgb(207, 207, 207);
    }
    background: $base_bg_color;
}
box.NetSpeed-hover {
    border-radius: #{$radius};
    background: $base_bg_color;
}
eventbox.StatusIndicators {
    background: $base_bg_color;
    color: rgb(226, 226, 226);
    border-radius: #{$radius};
}
eventbox.StatusIndicators-hover {
    background: $selected_bg_color;
    color: rgb(226, 226, 226);
    border-radius: #{$radius};
    .Icon-hover {
        color: rgb(255, 255, 255);
    }
}
box.FloatingMenu {
    background: $bar_bg_color;
    border-radius: 10px;
    @include animations.background-flow($size: 200%, $duration: 80s);
}
box.PopupWindow {
    margin: 8px;
}
box.Workspace {
    background: $base_bg_color;
    border-radius: #{$radius};
    .Item {
        background: rgba(255, 255, 255, 0.157);
        border-radius: 50px;
    }
    .Item-focused {
        background: rgb(205, 205, 205);
        border-radius: 50px;
    }
}
