@use "public-colors" as *;
// TODO: 适配Gtk主题颜色
// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
bar {
    background: transparent;
    contents {
        background-color: $window_bg_color;
        border-radius: 10px;
        padding: 8px;
    }
    clock {
        font-weight: bold;
    }
}
