@keyframes BackgroundChange {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.top-bar > .horizontal {
    border-radius: 20px;
    background: rgba(32, 36, 42, 0.8);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    background: linear-gradient(
            270deg,
            rgba(0, 0, 0, 0.8),
            rgba(16, 37, 41, 0.722),
            rgba(7, 25, 39, 0.8),
            rgba(22, 14, 42, 0.821),
            rgba(24, 36, 24, 0.703)
        )
        center / cover;
    background-size: 100% 100%;
    animation: BackgroundChange 10s steps(12) infinite;
}
.top-bar {
    .systemtray {
        border-radius: 20px;
        background-color: rgba(13, 32, 68, 0.8);
    }

    .network-speed {
        border-radius: 20px;
        font-weight: 100;
        background: linear-gradient(
                270deg,
                rgb(68, 93, 86),
                rgba(70, 20, 114, 0.741),
                rgba(26, 99, 139, 0.741),
                rgb(137, 122, 66)
            )
            center / cover;
        background-size: 200% 200%;
        animation: BackgroundChange 10s steps(90) infinite;
        font-size: 18px;
        padding-left: 6px;
        padding-right: 10px;
        padding-top: 2px;
        color: rgb(211, 211, 211);
    }

    .network-indicator {
        background: rgb(108, 87, 181);
    }
    .volume {
        background: rgba(7, 129, 99, 0.767);
    }
    .brightness {
        background: rgba(204, 169, 12, 0.883);
    }
    .open-right-bar {
        background: rgba(85, 85, 85, 0.57);
    }
    .open-right-bar:hover {
        background: rgba(133, 133, 133, 0.756);
    }
    .network-indicator,
    .volume,
    .brightness,
    .open-right-bar,
    .player-control-button {
        border-radius: 20px;
    }
    .player,
    .player-playing {
        border-radius: 20px;
        font-weight: 100;
        font-size: 18px;
    }
    .player {
        background: rgba(255, 255, 255, 0.395);
    }
    .player-playing {
        background: linear-gradient(
                270deg,
                rgb(205, 122, 210),
                rgba(211, 209, 210, 0.741),
                rgb(213, 113, 218),
                rgba(125, 112, 210, 0.741),
                rgb(235, 145, 239)
            )
            center / cover;
        background-size: 200% 200%;
        animation: BackgroundChange 10s steps(90) infinite;
    }
    .player-control-button {
        border-radius: 20px;
        background: rgba(225, 90, 90, 0.602);
    }
    .workspaces {
        border-radius: 20px;
        background: linear-gradient(270deg, #0e3d30, #547214, #1a648b, #4a1e34) center / cover;
        background-size: 200% 200%;
        animation: BackgroundChange 10s steps(90) infinite;
        padding-left: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-top: 3px;
    }

    .workspaces > .normal {
        border-radius: 20px;
        color: rgb(179, 179, 179);
    }
    .workspaces > .normal:hover {
        border-radius: 20px;
        color: rgb(255, 255, 255);
    }
    .workspaces > .focused {
        border-radius: 100px;
        background: rgba(255, 255, 255, 0.395);
        color: rgb(255, 255, 255);
    }
    .workspaces > .focused:hover {
        border-radius: 100px;
        background: rgba(255, 255, 255, 0.695);
        color: rgb(27, 27, 27);
    }
}
