.right-bar {
    @import "./media.scss";
    border: 2px solid rgb(137, 137, 137);
    border-radius: 10px;
    padding: 16px;
    background: linear-gradient(
            230deg,
            rgba(0, 0, 0, 0.901),
            rgba(16, 37, 41, 0.846),
            rgba(7, 25, 39, 0.8),
            rgba(22, 14, 42, 0.821),
            rgba(24, 36, 24, 0.703)
        )
        center / cover;
    background-size: 100% 100%;
    .clock {
        .time {
            color: rgba(255, 255, 255, 0.82);
            font-size: 52px;
        }
        .date {
            font-size: 16px;
            padding-bottom: 10px;
            color: rgba(220, 220, 220, 0.927);
        }
    }
    .top {
        padding: 12px 12px 3px 12px;
    }
    .center {
    }
    .bottom {
    }
}
