.notifications {
    padding: 8px;
    .notification {
        border: 2px solid rgb(72, 72, 72);
        background: linear-gradient(
                270deg,
                rgba(64, 45, 45, 0.8),
                rgba(16, 37, 41, 0.722),
                rgba(7, 25, 39, 0.8),
                rgba(22, 14, 42, 0.821),
                rgba(24, 36, 24, 0.703)
            )
            center / cover;
        background-size: 200% 200%;
        border-radius: 10px;
        animation: BackgroundChange 10s steps(90) infinite;
    }
    .notification:hover {
        border: 2px solid rgb(211, 211, 211);
    }
    .notification-box {
        border-radius: 10px;
    }
    .notification-icon {
        padding: 10px;
    }
    .notification-title {
        margin-top: 10px;
        font-size: 14px;
    }
    .notification-body {
        font-size: 12px;
    }
    .notification-progress trough {
        min-height: 2px;
        border-radius: 1px;
        background-color: rgba(179, 179, 179, 0.37);
        progress {
            min-height: 2px;
            border-radius: 1px;
            background-color: rgb(51, 153, 255);
        }
    }
    .notification-action {
        border-radius: 15px;
        font-size: 15px;
        color: rgb(215, 215, 215);
        background: rgba(84, 84, 84, 0.592);
    }
    .notification-action:hover {
        background: rgba(119, 119, 119, 0.73);
    }
    .notification-action-label {
        padding: 3px 10px 3px 10px;
    }
}
